<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            (function() {
                try {
                const tema = localStorage.getItem('tema');
                if (tema === 'oscuro') {
                    document.documentElement.classList.add('dark-mode');
                }
                } catch (e) {
                console.warn("Error al leer tema almacenado:", e);
                }
            })();
        </script>

        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'core/img/icono.png' %}">
        {% block titulo %}
        {% endblock titulo %}
        <!--Bootstrap CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!--Javascript-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!--Diseño propio-->
        <link rel="stylesheet" type="text/css" href="{% static  'core/css/estilo.css'%}">
        <script src="https://kit.fontawesome.com/2c74fac334.js" crossorigin="anonymous"></script>
        {% block disenos %}
        {% endblock disenos %}
    </head>

    <body>

        <style>
            .dark-mode-switch {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 28px;
            }

            .dark-mode-switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .dark-mode-switch .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #e0e0e0;
                transition: opacity 0.4s;
                border-radius: 34px;
            }

            .dark-mode-switch .slider:before {
                position: absolute;
                content: "☀️";
                height: 20px;
                width: 20px;
                left: 4px;
                bottom: 4px;
                background-color: transparent;
                transition: 0.3s;
                border-radius: 50%;
            }

            /* Estado ON */
            .dark-mode-switch input:checked + .slider {
                background-color: #302d2d;
            }

            .dark-mode-switch input:checked + .slider:before {
                content: '🌙';
                transform: translateX(22px);
            }
        </style>
        
        <div class="container-fluid ">
            <div class="row"> 
                <div class="col-md-1 barraSuperior">
                    <div class="contenedor-logo">
                        <img id="logo" src="{% static 'core/img/logo.png' %}" alt="No hay imagen disponible"> 
                    </div>

                </div>

                <div class="col-md-10 barraSuperior">
                    <a href="{% url 'mostrarIndex' %}">College Choice Helper</a>
                    
                </div>

                <div class="col-md-1 barraSuperior">
                    <label class="dark-mode-switch">
                    <input type="checkbox" id="modoOscuroBtn">
                    <span class="slider"></span>
                </div>
                
            </div>
        </div>
        <div class="container-fluid">
            <div class="row contenidoTotal">
                {% if rol == None %}
                <div class="col-md-3 columnaNoCuenta" >
                    <ul>
                        <li><a href="{% url 'mostrarLogin' %}">Iniciar sesión</a></li>
                        <li><a href="{% url 'mostrarRegistro'%}">Registrarme</a></li>
                    </ul>
                </div>
                {% endif %}
                {% if rol != None %}
                <div class="col-md-1 columnaCuenta">
                        <ul>
                            {% if rol == 2 %}
                                <li><a href="{% url 'mostrarVerPeticiones'%}">Ver peticiones</a></li>
                            {% endif %}
                            {% if rol == 0 or rol == 1 %}
                                <li><a href="{% url 'mostrarHacerpeticion'%}">Hacer una petición</a></li>
                            {% endif %}
                            <li><a href="{% url 'mostrarGestionCuenta' %}">Gestionar cuenta</a></li>
                            <li><a href="{% url 'cierreSesion'%}">Cerrar sesión</a></li>
                        </ul>
                </div>
                <div class="col-md-2 columnaNav">
                    <ul>
                        <!--Estudiante-->
                        {% if rol == 0 %}
                            <li><a href="{% url 'mostrarFormularioEstudiante'%}">Formulario</a></li>
                            <li><a href="{% url 'mostrarRecomendaciones'%}">Recomendaciones</a></li>
                            
                        {% endif %}
                        <!--Institution manager-->
                        {% if rol == 1 %}
                            <li style="padding-left: 0;"><a href="{% url 'mostrarListadoInstitucion' %}">Gestionar instituciones</a></li>
                        {% endif %}
                        <!--Administrador-->
                        {% if rol == 2 %}
                            <li><a href="{% url 'mostrarGestionUsuarios' %}">Gestionar usuarios</a></li>
                            <li><a href="{% url 'mostrarGestionInsti' %}">Gestionar instituciones</a></li>
                            <li><a href="{% url 'mostrarEstadisticas' %}">Estadísticas</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
                <div class="col-md-9">
                    {% block cuerpo %}


        
        
                       
                    {% endblock cuerpo %}
                </div>

            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Selecciona todos los toggles de contraseña
                const toggles = document.querySelectorAll('.toggle-password');

                toggles.forEach(toggle => {
                    toggle.addEventListener('click', function() {
                        const input = this.previousElementSibling;
                        const icon = this.querySelector('i'); // el ícono dentro del botón

                        if (input && input.type === 'password') {
                            input.type = 'text';
                            icon.classList.remove('fa-eye');
                            icon.classList.add('fa-eye-slash');
                        } else if (input) {
                            input.type = 'password';
                            icon.classList.remove('fa-eye-slash');
                            icon.classList.add('fa-eye');
                        }
                    });
                });
            });
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const boton = document.getElementById('modoOscuroBtn');
                const root = document.documentElement;
                const logo = document.getElementById('logo');


                const logoClaro = "{% static 'core/img/logo.png' %}";      
                const logoOscuro = "{% static 'core/img/logo-dark.png' %}"; 
                const defaultInstitucion = "/media/default_insti.png";      
                const defaultInstitucionBlanca = "{% static 'core/img/logo.png' %}"; 

                const imagenes = document.querySelectorAll('img');
                imagenes.forEach(img => {
                    if (img.src.includes("default_insti.png")) {
                        img.dataset.default = "true";
                    }
                });

                function actualizarImagenesModo() {
                    const imgs = document.querySelectorAll('img[data-default="true"]');
                    imgs.forEach(img => {
                        if (root.classList.contains('dark-mode')) {
                            img.src = defaultInstitucionBlanca; 
                        } else {
                            img.src = defaultInstitucion;
                        }
                    });
                }
                
                const temaGuardado = localStorage.getItem('tema');

                
                if (temaGuardado === 'oscuro') {
                    root.classList.add('dark-mode');
                    boton.checked = true;
                    logo.src = "{% static 'core/img/logo-dark.png' %}";
                } else {
                    root.classList.remove('dark-mode');
                    boton.checked = false; 
                    logo.src = "{% static 'core/img/logo.png' %}";
                }

                actualizarImagenesModo();

                
                boton.addEventListener('change', () => {
                    if (boton.checked) {
                        root.classList.add('dark-mode');
                        localStorage.setItem('tema', 'oscuro');
                        logo.src = "{% static 'core/img/logo-dark.png' %}";
                    } else {
                        root.classList.remove('dark-mode');
                        localStorage.setItem('tema', 'claro');
                        logo.src = "{% static 'core/img/logo.png' %}";
                    }
                    actualizarImagenesModo();
                });
            });
        </script>

        {% if messages %}
        {% for message in messages %}
            <script>
            Swal.fire({
                title: "Atención",
                text: "{{ message|escapejs }}",
                icon: "{{ message.tags }}",
                background: "#fff",
                color: "#000",
                confirmButtonText: "Aceptar",
                confirmButtonColor: "#000",
                customClass: {
                popup: 'mi-alerta',
                title: 'mi-alerta-titulo',
                confirmButton: 'mi-alerta-boton'
                }
            })
            </script>
        {% endfor %}
        {% endif %}



        {% block js %}
        {% endblock js %}

    </body>
</html>