{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Registrarse</title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .contenedorPadre{
            background: url("{% static 'core/img/fondo.jpg' %}") no-repeat center center fixed;
            background-size: cover;
            margin: 0; 
            padding: 0;
            height: 85vh;
            width: 100%;
            border: 2px solid #000;
        }
    </style>
    {% endblock disenos %}


    {% block cuerpo %}
        <div class="contenedorPadre">
            
            <div class="contenedorForm">
                <h1>Unete!</h1>
                <h2>Ingrese los siguientes campos para registrarse</h2>
                <form class="Formulario" id="registro" action="{% url 'registrarUsuario' %}" method="post" enctype="application/x-www-form-urlencoded">
                    {% csrf_token %}
                    <div>
                        <label for="correo">Correo:</label>
                        <input type="email" id="correo" name="correo" placeholder="Correo">
                    </div>

                    <div>
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña">
                    </div>

                    <div>
                        <label for="contrasena_rep">Confirmar contraseña:</label>
                        <input type="password" id="contrasena_rep" name="contrasena_rep" placeholder="Repetir contraseña">
                    </div>

                    <div>
                        <label for="toggleRol"><input type="checkbox" id="toggleRol" name="toggleRol">¿Quieres solicitar cuenta de Gestor de instituciones?</label>
                        <p>(Las solicitudes para cuenta de Gestor de instituciones son revisadas y aprobadas por los administradores)</p>
                    </div>

                    <div>
                        <input type="submit" value="Confirmar" id="btn-confirmar" class="btn btn-aceptar">
                    </div>
                </form>
            </div>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}