{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Registrarse</title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <h2>Pagina registro</h2>
        <div>
            <div>
                <h1>Ingrese los siguientes campos para registrarse</h1>
                <form>
                    <div>
                        <label for="correo">Correo:</label>
                        <input type="email" id="correo" placeholder="Correo">
                    </div>

                    <div>
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" id="contrasena" placeholder="Contraseña">
                    </div>

                    <div>
                        <label for="contrasena_rep">Confirmar contraseña:</label>
                        <input type="password" id="contrasena_rep" placeholder="Repetir contraseña">
                    </div>
                </form>
            </div>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}