{% extends 'core/sinCuenta/plantillaSinCuenta.html' %}
{% load static %}

    {% block titulo %}
        <title> Ingrese su Institución </title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .contenedorForm{
            width: 70%;
        }

        .contenedorForm input[type="number"], .contenedorForm input[type="url"], .contenedorForm input[type="file"]{
            width: 100%;
            padding: 8px 5px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 2px solid #a0b8ff;
            outline: none;
            font-size: 14px;
            background: transparent;

        }

        .contenedorForm input[type="number"]:focus, .contenedorForm input[type="url"]:focus, .contenedorForm input[type="file"]{
            border-bottom: 2px solid #6595ff;
        }

        .contenedorForm input[type="file"]::file-selector-button{
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
        }

        .radio-group {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 8px 5px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 2px solid #6595ff;
            outline: none;
            background: transparent;
            gap: 10px; 
        }

        .radio-group label {
            margin: 0;
        }

        .contenedorForm select{
            width: 100%;
            padding: 8px 5px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 2px solid #a0b8ff;
            outline: none;
            font-size: 14px;
            background: #fff;
            transition: background 0.3s , color 0.3s, border-bottom 0.3s;

        }

        .dark-mode .contenedorForm select{
            background: #302d2d;
            color: #e0e0e0;
            border-bottom: 2px solid #5a8ef7;
        }

        .contenedorForm select :focus{
            border-bottom: 2px solid #6595ff;
        }


    </style>
    
    {% endblock disenos %}

    {% block cuerpo %}
        <div class="">
            <div class="contenedorForm">
                <h2>Ingrese los campos de la Institución</h2>

                <form id="form_agregarInsti" action="{% url 'insertarInsti' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <label for="nombre_insti">Nombre de la Institución:</label>
                        <input type="text" id="nombre_insti" name="nombre_insti" placeholder="Nombre de la Institución">
                    </div>


                    <div>
                        <label for="tipoInsti">Seleccione el tipo de institución</label>
                        <select name="tipoInsti" id="tipoInsti">
                            <option value="Universidad">Universidad</option>
                            <option value="IP">Instituto Profesional</option>
                            <option value="CFT">Centro de formación técnica</option>
                        </select>
                    </div>


                    <div>
                        <label for="comuna_insti">Seleccione la comuna donde se ubica</label>
                        <select name="comuna_insti" id="comuna_insti">
                            {% for comu in comunas %}
                            <option value="{{ comu }}">{{ comu }}</option>
                            {% endfor %}
                        </select>
                    </div>

                   
                    <label>¿Está adscrita a gratuidad?:</label>
                    <div class="radio-group">
                        <label for="gratuidad">Si</label>
                        <input type="radio" id="gratuidad" name="gratuidad" value="True">

                        <label for="gratuidad">No</label>
                        <input type="radio" id="gratuidad" name="gratuidad" value="False">
                    </div>

                    <div>
                        <label for="tipoInsti">Seleccione cantidad de años de acreditación</label>
                        <select id="anios_acreditacion" name="anios_acreditacion">
                        {% for acredi in acreditaciones %}
                            <option value="{{ acredi }}">
                            {{ acredi }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label for="web_insti">Sitio web:</label>
                        <input type="url" id="web_insti" name="web_insti" placeholder="https//ejemplo.com" pattern="https://.*">
                    </div>

                    <div>
                        <label for="foto_insti">Imagen:</label>
                        <input type="file" id="foto_insti" name="foto_insti">
                    </div>

                    <p class="alerta" id="alerta"></p>

                    <div>
                        <button class="btn btn-aceptar" type="submit" value="Enviar" id="btn_agregarInsti" name="btn_agregarInsti">Enviar</button>
                    </div>

                </form>
            </div>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    <script src="{% static 'core/js/agregarInsti.js' %}"></script>
    {% endblock js %}