{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title> Editar carrera </title>
    {% endblock titulo %}

    {% block disenos %}
        <style>
            .contenedorForm input[type="number"], .contenedorForm input[type="url"], .contenedorForm input[type="file"]{
            width: 100%;
            padding: 8px 5px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 2px solid #a0b8ff;
            outline: none;
            font-size: 14px;
            background: transparent;

        }

        .contenedorForm input[type="number"]:focus, .contenedorForm input[type="url"]:focus, .contenedorForm input[type="file"]{
            border-bottom: 2px solid #6595ff;
        }
        </style>
    {% endblock disenos %}

    {% block cuerpo %}
        <div class="contenedorPadre">
            <div class="contenedorForm">
                <form id="form_agregarCarrera" action="{% url 'editarCarrera' carrera.idCarrera insti.idInstitucion %}" method="POST">
                    {% csrf_token %}
                    <div>  
                        <label for="nombre_carrera">Nombre de la carrera:</label>
                        <input type="text" id="nombre_carrera" name="nombre_carrera" value="{{carrera.nombreCarrera}}" placeholder="Nombre de la carrera">
                    </div>

                    <div>  
                        <label for="costo">Costo de la carrera</label>
                        <input type="number" id="costo" name="costo" min="0" placeholder="0" value="{{carrera.costo}}">
                    </div>

                    <div>  
                        <label for="puntaje">Puntaje minimo de la carrera</label>
                        <input type="number" id="puntaje" name="puntaje" placeholder="0" min="0" max="1000" value="{{carrera.puntajeMinimo}}">
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <button class="btn btn-aceptar" type="submit">Guardar cambios</button>
                    </div>

                </form>
            </div>
        </div>
        
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}