{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title> Edite su Institución </title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .contenedorForm{
            width: 70%;
        }

        .contenedorForm input[type="number"], .contenedorForm input[type="url"], .contenedorForm input[type="file"]{
            width: 100%;
            padding: 8px 5px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 2px solid #a0b8ff;
            outline: none;
            font-size: 14px;
            background: transparent;

        }

        .contenedorForm input[type="number"]:focus, .contenedorForm input[type="url"]:focus, .contenedorForm input[type="file"]{
            border-bottom: 2px solid #6595ff;
        }

        .contenedorForm input[type="file"]::file-selector-button{
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
        }

        .radio-group {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 8px 5px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 2px solid #6595ff;
            outline: none;
            background: transparent;
            gap: 10px; 
        }

        .radio-group label {
            margin: 0;
        }

        .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
            margin: 2px;
        }

        .btn-aceptar {
            background: #6595ff;
            color: #fff;
        }

        .btn-aceptar:hover {
            background: #4a7bdb;
        }

        .btn-eliminar {
            background: #a00;
            color: #fff;
        }

        .btn-eliminar:hover {
            background: #700;
        }

        .contenedorForm select{
            width: 100%;
            padding: 8px 5px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 2px solid #a0b8ff;
            outline: none;
            font-size: 14px;
            background: transparent;

        }

        .contenedorForm select :focus{
            border-bottom: 2px solid #6595ff;
        }

    </style>
    {% endblock disenos %}

    {% block cuerpo %}

        <div class="">
            <div class="contenedorForm">
                <h2>Ingrese los siguientes campos para editar su institución</h2>

                <form id="form_editarInsti" action="{% url 'actualizarInsti' %}" method="post" enctype="multipart/form-dat">
                    {% csrf_token %}

                    <div>
                        <label for="id_insti"></label>
                        <input type="hidden" id="id_insti" name="id_insti" value="{{insti.idInstitucion}}"  readonly>
                    </div>

                    <div>
                        <label for="nombre_insti">Nombre de la Institución:</label>
                        <input type="text" id="nombre_insti" name="nombre_insti" value="{{insti.nombreInstitucion}}">
                    </div>

                    <label>¿Es universidad?</label>
                    <div class="radio-group">
                        <label for="es_uni">Si</label>
                        <input type="radio" id="es_uni" name="es_uni" value="True" {% if insti.esUniversidadInsti %}checked{% endif %}>

                        <label for="es_uni_b">No</label>
                        <input type="radio" id="es_uni_b" name="es_uni" value="False" {% if not insti.esUniversidadInsti %}checked{% endif %}>
                    </div>

                    <div>
                        <label for="tipoInsti">Seleccione el tipo de institución</label>
                        <select name="tipoInsti" id="tipoInsti">
                            <option value="Universidad" {% if insti.tipoInstitucion == 'Universidad' %}selected{% endif %}>Universidad</option>
                            <option value="IP" {% if insti.tipoInstitucion == 'IP' %}selected{% endif %}>Instituto Profesional</option>
                            <option value="CFT" {% if insti.tipoInstitucion == 'CFT' %}selected{% endif %}>Centro de formación técnica</option>
                        </select>
                    </div>
                    
                    <div>
                        <label for="comuna_insti">Comuna en donde se ubica:</label>
                        <input type="text" id="comuna_insti" name="comuna_insti" value="{{insti.comunaInstitucion}}">
                    </div>

                    <label>¿Está adscrita a gratuidad?</label>
                    <div class="radio-group">
                        
                        <label for="gratuidad">Si</label>
                        <input type="radio" id="gratuidad" name="gratuidad" value="True" {% if insti.adscritoGratuidad %}checked{% endif %}>

                        <label for="gratuidad_b">No</label>
                        <input type="radio" id="gratuidad_b" name="gratuidad" value="False" {% if not insti.adscritoGratuidad %}checked{% endif %}>
                    </div>

                    <div>
                        <label for="anios_acreditacion">¿Cuantos años de acreditación?</label>
                        <input type="number" id="anios_acreditacion" name="anios_acreditacion" value="{{insti.acreditacion}}">
                    </div>
                    
                    <div>
                        <label for="web_insti">Sitio web:</label>
                        <input type="url" id="web_insti" name="web_insti" value="{{insti.webInstitucion}}" pattern="https://.*">
                    </div>

                    <div>
                        <label for="foto_insti">Imagen:</label>
                        <input type="file" id="foto_insti" name="foto_insti">
                        <div class="contenedor-img">
                            <img alt="No hay imagen disponible" src="{{insti.fotoInstitucion.url}}">
                        </div>
                    </div>
                    
                    <br>
                    <div class="row">
                        
                        <div class="col-md-4" style="text-align: right;">
                            <input class="btn btn-aceptar" type="submit" value="Guardar" id="btn_editarInsti" name="btn_editarInsti">
                        </div>

                        <div class="col-md-4" style="text-align: center;">
                            <input class="btn btn-aceptar" type="reset" name="limpiar" value="Limpiar">
                        </div>

                        <div class="col-md-4" style="text-align: left;">
                            <a class="btn btn-eliminar" href="{% url 'eliminarInsti' insti.idInstitucion%}">Eliminar</a>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}