{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title> Ver las instituciones </title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
            margin: 2px;
        }

        .btn-aceptar {
            background: #6595ff;
            color: #fff;
        }

        .btn-aceptar:hover {
            background: #4a7bdb;
        }
    </style>
    {% endblock disenos %}

    {% block cuerpo %}
    <div class="contenido">
        <br>
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <a class="btn btn-aceptar" href="{% url 'mostrarRegistroInstitucion' %}">Agregar instituciones</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h1>Instituciones que has agregado:</h1>
            </div>
        </div>
        <div class="contenedorRecomendaciones">
            {% for insti in instituciones %}
            <div class="col-md-3 contenedorInsti">
                
                <div class="card contenedor-img">
                    <img src="{{insti.fotoInstitucion.url}}" alt="Imagen no disponible">
                </div>
                <p>Nombre institución: {{ insti.nombreInstitucion }}</p>
                <div>
                    <a class="btn btn-aceptar" href="{% url 'mostrarEditarInstitucion' insti.idInstitucion %}">Editar institución</a>
                </div>
                
                <div>
                    <a  class="btn btn-aceptar" href="{% url 'mostrarListadoCarreras' insti.idInstitucion %}">Gestionar carreras</a>
                </div>

            </div>
            
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}