{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title> Ver las instituciones </title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
            margin: 2px;
        }

        .btn-aceptar {
            background: #6595ff;
            color: #fff;
        }

        .btn-aceptar:hover {
            background: #4a7bdb;
        }

        .contenedorNombre{
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .contenedorIMG{
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contenedor-img{
            margin-top: 0px !important;
        }

        .contenedor-boton{
            width: 100%;
            height: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @media (max-width: 1366px){

            .btn {
                padding: 2px 5px;
                border: none;
                border-radius: 20px;
                font-weight: bold;
                cursor: pointer;
                transition: 0.3s;
            }

            .btn-aceptar {
                background: #6595ff;
                color: #fff;
                transition: background-color 0.3s, color 0.3s;
            }

            .contenedorNombre{
                height: 20%;
            }

            .contenedor-boton{
                height: 20%;
            }
        }
        

    </style>
    {% endblock disenos %}

    {% block cuerpo %}
    <div class="contenido">
        <br>
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <a class="btn btn-aceptar" href="{% url 'mostrarRegistroInstitucion' %}">Agregar instituciones</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h1>Instituciones que has agregado:</h1>
            </div>
        </div>
        <div class="contenedorRecomendaciones">
            {% for insti in instituciones %}
            <div class="col-md-3 contenedorInsti">
                <div class="contenedorIMG">
                    <div class="card contenedor-img">
                        <img src="{{insti.fotoInstitucion.url}}" alt="Imagen no disponible">
                    </div>
                </div>
                <div class="contenedorNombre">
                    <p class="texto">{{ insti.nombreInstitucion }}</p>
                </div>
                
                <div style="text-align: center;" class="contenedor-boton">
                    <a class="btn btn-aceptar" href="{% url 'mostrarEditarInstitucion' insti.idInstitucion %}">Editar institución</a>
                </div>
                
                <div style="text-align: center;" class="contenedor-boton">
                    <a  class="btn btn-aceptar" href="{% url 'mostrarListadoCarreras' insti.idInstitucion %}">Gestionar carreras</a>
                </div>

            </div>
            
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}