{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}
{% load humanize %}

    {% block titulo %}
        <title> Ver las carreras </title>
    {% endblock titulo %}

    {% block disenos %}
    <style>

        .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
            margin: 2px;
        }

        .btn-aceptar {
            background: #6595ff;
            color: #fff;
        }

        .btn-aceptar:hover {
            background: #4a7bdb;
        }

        .btn-eliminar {
            background: #a00;
            color: #fff;
        }

        .btn-eliminar:hover {
            background: #700;
        }

        .contenedorNombre{
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .contenedor-boton{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contenedorPuntaje{
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contenedorCosto{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 1366px){

            .btn {
                padding: 2px 5px;
                border: none;
                border-radius: 20px;
                font-weight: bold;
                cursor: pointer;
                transition: 0.3s;
            }

            .btn-aceptar {
                background: #6595ff;
                color: #fff;
                transition: background-color 0.3s, color 0.3s;
            }

            .contenedorNombre{
                height: 20%;
            }

            
        }

        

    </style>
    {% endblock disenos %}

    {% block cuerpo %}  
        <div class="conteido">
            <br>
            <div class="row text-center">
                <div class="col-md-12">
                    <a class="btn btn-aceptar" href="{% url 'mostrarAgregarCarrera' insti.idInstitucion %}">Agregar carrera</a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Carreras agregadas a {{ insti.nombreInstitucion }}</h1>
                </div>
            </div>
            <div class="contenedorRecomendaciones">
                {% for carre in carreras %}
                <div class="col-md-3 contenedorInsti">
                    <div class="contenedorNombre">
                        <p class="texto">{{ carre.nombreCarrera }}</p>
                    </div>
                    
                    <div class="contenedorCosto">
                        <p class="texto">${{ carre.costo|intcomma:"." }}</p>
                    </div>

                    <div class="contenedorPuntaje">
                        <p class="texto">{{ carre.puntajeMinimo }} pts</p>
                    </div>

                    <div style="text-align: center;" class="contenedor-boton">
                        <a class="btn btn-aceptar" href="{% url 'mostrarEditarCarrera' carre.idCarrera insti.idInstitucion %}">Editar carrera</a>
                    </div>
                    <div style="text-align: center;" class="contenedor-boton">
                        <form method="POST" action="{% url 'eliminarCarrera' carre.idCarrera insti.idInstitucion %}">
                        {% csrf_token %}
                        <button class="btn btn-eliminar" type="submit">Eliminar carrera</button>
                    </form>
                    </div>
                    

                </div>
                
                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}