{% extends 'core/admin/plantillaAdmin.html'%}
{% load static %}

    {% block titulo %}
        <title>Administrador</title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <h2>Pagina de gestion de estudiantes</h2>
        <div>
            <div>
                <h1>Lista de estudiantes</h1>

                <p>ID</p>
                <p>Nombre</p>
                <p>Correo</p>
                
            </div>

            <div>
                <p>Gestionar<p>
            </div>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}