{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Administrador</title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <h2>Pagina de gestion de instituciones</h2>
        <div>
            <div>
                <h1>Lista de instituciones</h1>
                {% for i in insti %}
                <p>{{i.idInstitucion}}</p>
                <p>{{i.nombreInstitucion}}</p>
                <p>{{i.comunaInstitucion}}</p>
                {% endfor %}
                
            </div>

            <div>
                <p>Gestionar<p>
            </div>
                
            </div>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}