{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Administrador</title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .btn {
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
            margin: 2px;
        }

        .btn-aceptar {
            background: #6595ff;
            color: #fff;
        }

        .btn-aceptar:hover {
            background: #4a7bdb;
        }
        .btn-eliminar {
            background: #a00;
            color: #fff;
        }

        .btn-eliminar:hover {
            background: #700;
        }

        .contenedorId{
            width: 100%;
            height: 10%;
        }

        .contenedorNombre{
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .contenedorComuna{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .contenedorIMG{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contenedor-img{
            width: 70px;
            height: 70px;
            margin-top: 0px !important;
        }

        .contenedorBoton{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .contenedorInsti{
            height: 40vh;
        }

    </style>
    {% endblock disenos %}


    {% block cuerpo %}
        
        <div class="contenido">
            <h1 style="text-align: center;">Lista de instituciones</h1>
            <div class="contenedorRecomendaciones">
                
                {% for i in insti %}
                <div class="contenedorInsti col-md-3">
                    <div class="contenedorId">
                        <p class="texto">ID: {{i.idInstitucion}}</p>
                    </div>
                    <div class="contenedorIMG">
                        <div class="contenedor-img">
                            <img src="{{i.fotoInstitucion.url}}" alt="Imagen no disponible">
                        </div>
                    </div>
                    
                    <div class="contenedorNombre">
                        <p class="texto">Nombre: {{i.nombreInstitucion}}</p>
                    </div>
                    <div class="contenedorComuna">
                        <p class="texto">Comuna: {{i.comunaInstitucion}}</p>
                    </div>
                    <div class="contenedorBoton">
                        <form action="{% url 'eliminarInstiAdm' i.idInstitucion %}" method="post" enctype="application/x-www-form-urlencoded">
                        {% csrf_token %}
                            <button class="btn btn-eliminar" type="submit">Eliminar</button>
                        </form>  
                    </div>
                    
                </div>
                
                {% endfor %}         
            </div>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}