{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Petición</title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <h2>Petición ID</h2>
        <div>
            <p>Usuario</p>
            <p>Asunto</p>
            <p>Fecha</p>
            <p>Tipo de petición</p>
            <p>Mensaje</p>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}