{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Peticiones</title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <h2>Peticiones registradas</h2>
        <div class="row">
            {% for pr in peticionesRol %}
            <div class="col-md-6">
                <h1>Peticiones de cambio de rol</h1>

                <p>ID: {{ pr.idPeticiones }}</p>
                <p>Asunto: {{ pr.asunto }}</p>
                <p>Mensaje: {{ pr.mensaje }}</p>
                <p>Fecha: {{ pr.fechaPeticion }}</p>
            </div>
            {% endfor %}

            {% for pg in peticionesRol %}
            <div class="col-md-6">
                <h1>Peticiones generales</h1>

                <p>ID: {{ pg.idPeticiones }}</p>
                <p>Asunto: {{ pg.asunto }}</p>
                <p>Tipo de petición: {{ pg.asunto }}</p>
                <p>Mensaje</p>
                <p>Fecha</p>
            </div>
            {% endfor %}
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}