{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Petición</title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <h2>Petición ID: {{ peticion.idPeticiones }}</h2>
        <div>
            <p>Usuario: {{ peticion.usuario.correo }}</p>
            <p>Asunto: {{ peticion.asunto }}</p>
            <p>Fecha: {{ peticion.fechaPeticion }}</p>
            <p>Tipo de petición: {{ peticion.tipoPeticion }}</p>
            <p>Mensaje: {{ peticion.mensaje }}</p>
        </div>
        {% if peticion.tipoPeticion == 'Cambio de rol' %}
            <div>
                <form id="cambiar-rol" action="{% url 'cambiarRol' peticion.idPeticiones peticion.usuario.correo %}" method="post" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                    <label for="toggleCambio"><input type="checkbox" id="toggleCambio" name="toggleCambio">¿Otorgar cuenta de Gestor de instituciones?</label>
                    <input type="submit" value="Enviar petición" id="submit">
                </form>
            </div>
        {% endif %}
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}