{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Cambiar clave</title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <div>
            <div>
                <h2>Cambiar mi clave</h2>
            </div>
            
            <div>
                <form action="{% url 'cambiarClave' %}" method="post" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                    <div>
                        <label for="clave">Ingrese su clave actual:</label>
                        <input type="password" id="clave" name="clave" placeholder="Contraseña actual">
                    </div>

                    <div>
                        <label for="clave_new">Ingrese su clave nueva:</label>
                        <input type="password" id="clave_new" name="clave_new" placeholder="Contraseña nueva">
                    </div>

                    <div>
                        <label for="clave_rep">Repita su clave nueva: </label>
                        <input type="password" id="clave_rep" name="clave_rep" placeholder="Repita la contraseña">
                    </div>

                    <div>
                        <button type="submit">Cambiar contraseña</button>
                    </div>


                </form>
            </div>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}