{% extends 'core/sinCuenta/plantillaSinCuenta.html' %}
{% load static %}

    {% block titulo %}
        <title>Cambiar clave</title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <div>

            <div class="contenedorForm">
                <h2>Cambiar mi clave</h2>
                <form action="{% url 'cambiarClave' %}" id="cambiarClave" method="post" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                    <label for="clave">Ingrese su clave actual:</label>
                    <div class="campo-password">
                        
                        <input type="password" id="clave" name="clave" placeholder="Contraseña actual">
                        <span class="toggle-password">👁️</span>
                    </div>
                    
                    <label for="clave_new">Ingrese su clave nueva:</label>
                    <div class="campo-password">
                        
                        <input type="password" id="contrasena" name="clave_new" placeholder="Contraseña nueva">
                        <span class="toggle-password">👁️</span>
                    </div>
                    <p id="alerta" class="alerta"></p>
                    <label for="clave_rep">Repita su clave nueva: </label>
                    <div class="campo-password">
                        
                        <input type="password" id="clave_rep" name="clave_rep" placeholder="Repita la contraseña">
                        <span class="toggle-password">👁️</span>
                    </div>

                    <div>
                        <button class="btn btn-aceptar" type="submit">Cambiar contraseña</button>
                    </div>


                </form>
            </div>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    <script src="{% static 'core/js/cambiarClave.js' %}"></script>
    {% endblock js %}