{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Eliminar cuenta</title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <div>
            <div class="contenedorForm">
                <h2>Eliminar cuenta</h2>
                <form action="{% url 'eliminarCuenta' %}" method="post" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <label for="clave">Ingrese su clave actual:</label>
                    <div class="campo-password">
                        <input type="password" id="clave" name="clave" placeholder="Contraseña actual">
                        <span class="toggle-password" style="cursor:pointer;">
                        <i class="fa-solid fa-eye"></i>
                        </span>
                    </div>
                    <div>
                        <label for="confirmar">Si esta seguro escriba ELIMINAR</label>
                        <input type="text" id="confirmar" name="confirmar" placeholder="Escriba aquí">
                    </div>

                    <div>
                        <button class="btn btn-eliminar" type="submit">Eliminar cuenta</button>
                    </div>


                </form>
            </div>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}