{% extends 'core/sinCuenta/plantillaSinCuenta.html' %}
{% load static %}

    {% block titulo %}
        <title>Formulario</title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .contenedorParametro {
            border-bottom: 2px solid #a0b8ff;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        
        .radio-group {
            display: flex;
            align-items: center;
            gap: 10px; 
        }

        .radio-group label {
            margin: 0;
        }

        .contenedorForm{
            width: 80% !important;
        }

        /* Estructura del parámetro */
        .parametro {
        margin-bottom: 20px;
        }

        .parametro-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }

        /* Toggle moderno estilo iOS */
        .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 28px;
        }

        .switch input {
        opacity: 0;
        width: 0;
        height: 0;
        }


        .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px;
        }

        .dark-mode .slider {
            background-color: #333;
        }

        .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
        }

        body.dark-mode input:disabled, body.dark-mode select:disabled, body.dark-mode textarea:disabled {
            background-color: #333 !important;
            color: #888;
            border-color: #444;
        }


        /* Estado ON */
        .switch input:checked + .slider {
        background-color: #6595ff;
        }

        .switch input:checked + .slider:before {
        transform: translateX(22px);
        }

        .contenedorForm select{
            width: 100%;
            padding: 8px 5px;
            margin-bottom: 15px;
            border: none !important;
            border-bottom: 2px solid #a0b8ff;
            outline: none;
            font-size: 14px;
            background: transparent;
            transition: background 0.3s ,color 0.3s, border-bottom 0.3s !important;

        }

        .dark-mode .contenedorForm select{
            background: #302d2d !important;
            color: #e0e0e0;
            border-bottom: 2px solid#5a8ef7;      
        }

        .contenedorForm select:focus{
            border-bottom: 2px solid #6595ff;
            transition: border-bottom 0.3s;
        }

        .dark-mode .contenedorForm select:focus{
            border-bottom: 2px solid #3661bc;
         }

        .contenedorPadre {
            min-height: 85vh;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; 
        }


    </style>
    {% endblock disenos %}


    {% block cuerpo %}
        <div>
            <div class="contenedorForm">
                <h1>Defina los parametros de su interes</h1>

                <form class="Formulario" id="formulario" action="{% url 'definirParametros' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="contenedorParametro parametro">
                        <div class="parametro-header">
                        <label for="comuna">¿En qué comuna te gustaría estudiar?</label>
                             <label class="switch">
                                <input type="checkbox" id="toggleComuna" name="toggleComuna" {% if parametros.comunaRelevancia %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <select id="comuna" name="comuna">
                        <option value=" ">-- Selecciona una comuna --</option>
                        {% for comuna in comunas %}
                            <option value="{{ comuna }}" {% if parametros.idParametros.comunaUsuario == comuna %}selected{% endif %}>
                            {{ comuna }}
                            </option>
                        {% endfor %}
                        </select>

                    </div>

                    <div class="contenedorParametro parametro">
                        <div class="parametro-header">
                            <label for="presupuesto">¿Cuanto es tu presupuesto anual?</label>
                            <label class="switch">
                                <input type="checkbox" id="togglePresupuesto" name="togglePresupuesto" {% if parametros.budgetRelevancia %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        
                        <select id="presupuesto" name="presupuesto">
                            <option value="0">-- Selecciona tu rango de presupuesto para el arancel --</option>
                            <option value="1" {% if parametros.budget == 1 %}selected{% endif %}> Menos de 3.000.000 </option>
                            <option value="2" {% if parametros.budget == 2 %}selected{% endif %}> Entre 3.000.001 y 5.000.000 </option>
                            <option value="3" {% if parametros.budget == 3 %}selected{% endif %}> Entre 5.000.001 y 7.000.000 </option>
                            <option value="4" {% if parametros.budget == 4 %}selected{% endif %}> Entre 7.000.001 y 10.000.000 </option>
                            <option value="5" {% if parametros.budget == 5 %}selected{% endif %}> 10.000.001 o más</option>
                        </select>
                    </div>

                    <div class="contenedorParametro parametro">
                        <div class="parametro-header">
                            <label for="gratuidad">¿Cuentas con la gratuidad?</label>
                            <label class="switch">
                                <input type="checkbox" id="toggleGratuidad" name="toggleGratuidad" {% if parametros.gratuidadRelevancia %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="radio-group">
                            <label for="siGratu">Si</label>
                            <input type="radio" id="siGratu" name="gratuidad" value="si" {% if parametros.gratuidad %}checked{% endif %}>
                            <label for="noGratu">No</label>
                            <input type="radio" id="noGratu" name="gratuidad" value="no" {% if not parametros.gratuidad %}checked{% endif %}>
                        </div>
                        
                    </div>

                    <div class="contenedorParametro parametro">
                        <div class="parametro-header">
                            <label for="acreditacion">¿Cuantos años de acreditación minima buscas?</label>
                            <label class="switch">
                                <input type="checkbox" id="toggleAcreditacion" name="toggleAcreditacion" {% if parametros.acreditacionRelevancia %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        
                        <select id="acreditacion" name="acreditacion">
                        <option value="">-- Selecciona tu acreditacion deseada --</option>
                        {% for acredi in acreditaciones %}
                            <option value="{{ acredi }}" {% if parametros.acreditacionDeseado == acredi %}selected{% endif %}>
                            {{ acredi }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                    
                    <div class="contenedorParametro parametro">
                        <div class="parametro-header">
                            <label for="esUni">¿Que tipo de institución buscas?</label>
                            <label class="switch">
                                <input type="checkbox" id="toggleUni" name="toggleUni" {% if parametros.esUniversidadRelevancia %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <div>
                        
                            <select name="tipoBuscado" id="tipoBuscado">
                                <option value="Universidad" {% if parametros.tipoBuscado == 'Universidad' %}selected{% endif %}>Universidad</option>
                                <option value="IP" {% if parametros.tipoBuscado == 'IP' %}selected{% endif %}>Instituto Profesional</option>
                                <option value="CFT" {% if parametros.tipoBuscado == 'CFT' %}selected{% endif %}>Centro de formación técnica</option>
                            </select>
                        </div>
                        
                    </div>

                    <div class="contenedorParametro parametro">
                        <div class="parametro-header">
                            <label for="nem">¿Cual es tu puntaje NEM aproximado?</label>
                            <label class="switch">
                                <input type="checkbox" id="toggleNem" name="toggleNem" {% if parametros.puntajeNemRelevancia %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        
                        <select id="nem" name="nem">
                            <option value="1" {% if parametros.puntajeNem == 1 %}selected{% endif %}> Entre 100 a 300 </option>
                            <option value="2" {% if parametros.puntajeNem == 2 %}selected{% endif %}> Entre 301 a 500 </option>
                            <option value="3" {% if parametros.puntajeNem == 3 %}selected{% endif %}> Entre 501 a 700 </option>
                            <option value="4" {% if parametros.puntajeNem == 4 %}selected{% endif %}> Entre 701 a 900 </option>
                            <option value="5" {% if parametros.puntajeNem == 5 %}selected{% endif %}> Entre 901 a 1000 </option>
                        </select>
                    </div>

                    <div class="contenedorParametro parametro">
                        <div class="parametro-header">
                            <label for="carrera">¿Que carrera llama tu atención?</label>
                            <label class="switch">
                                <input type="checkbox" id="toggleCarrera" name="toggleCarrera" {% if parametros.carreraRelevancia %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        
                        <select id="carrera" name="carrera">
                        <option value="">-- Selecciona una carrera --</option>
                        {% for carrera in carreras %}
                            <option value="{{ carrera }}" {% if parametros.carrera == carrera %}selected{% endif %}>
                            {{ carrera }}
                            </option>
                        {% endfor %}
                        </select>

                    </div>
                    <p style="color: #a00">*Ten en cuenta que los parametros que desactives no seran considerados para las recomendaciones</p>
                    <div style="text-align: center;">
                        <button class="btn btn-aceptar" type="submit">Enviar</button>
                        
                    </div>

                </form>
            </div>
        </div>
    {% endblock cuerpo %}

    {% block js %}
        <script>
        $(document).ready(function() {
            
            function actualizarCampos() {
                $('.parametro-header input[type="checkbox"]').each(function() {
                    const toggle = $(this);
                    const contenedor = toggle.closest('.contenedorParametro');
                    
                    
                    const campos = contenedor.find('input[type="text"], input[type="radio"], select');
                    
                    if (toggle.is(':checked')) {
                        campos.prop('disabled', false);
                        campos.css('background-color', 'white');
                        contenedor.css('opacity', '1');
                    } else {
                        campos.prop('disabled', true);
                        campos.css('background-color', '#e0e0e0');
                        contenedor.css('opacity', '0.8');
                    }
                });
            }

            
            actualizarCampos();

            
            $('.parametro-header input[type="checkbox"]').on('change', actualizarCampos);
        });
        </script>

    {% endblock js %}