{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Formulario</title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .contenedorParametro {
            border-bottom: 2px solid #a0b8ff;
        }

        
        .radio-group {
            display: flex;
            align-items: center;
            gap: 10px; 
        }

        .radio-group label {
            margin: 0;
        }

        

    </style>
    {% endblock disenos %}


    {% block cuerpo %}
        <div>
            <div class="contenedorForm">
                <h1>Defina los parametros de su interes</h1>

                <form class="Formulario" id="formulario" action="{% url 'definirParametros' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="contenedorParametro">
                        <label for="toggleComuna"><input type="checkbox" id="toggleComuna" name="toggleComuna" {% if parametros.comunaRelevancia %}checked{% endif %}>¿Te interesa este parametro?</label>
                        <label for="comuna">¿En que comuna te gustaria estudiar?</label>
                        <select id="comuna" name="comuna">
                        <option value="">-- Selecciona una comuna --</option>
                        {% for comuna in comunas %}
                            <option value="{{ comuna }}" {% if parametros.idParametros.comunaUsuario == comuna %}selected{% endif %}>
                            {{ comuna }}
                            </option>
                        {% endfor %}
                        </select>

                    </div>

                    <div class="contenedorParametro">
                        <label for="togglePresupuesto"><input type="checkbox" id="togglePresupuesto" name="togglePresupuesto" {% if parametros.budgetRelevancia %}checked{% endif %}>¿Te interesa este parametro?</label>
                        <label for="presupuesto">¿Cuanto es tu presupuesto?</label>
                        <select id="presupuesto" name="presupuesto">
                            <option value="0">-- Selecciona tu rango de presupuesto para el arancel --</option>
                            <option value="1" {% if parametros.budget == 1 %}selected{% endif %}> Menos de 3.000.000 </option>
                            <option value="2" {% if parametros.budget == 2 %}selected{% endif %}> Entre 3.000.001 y 5.000.000 </option>
                            <option value="3" {% if parametros.budget == 3 %}selected{% endif %}> Entre 5.000.001 y 7.000.000 </option>
                            <option value="4" {% if parametros.budget == 4 %}selected{% endif %}> Entre 7.000.001 y 10.000.000 </option>
                            <option value="5" {% if parametros.budget == 5 %}selected{% endif %}> 10.000.001 o más</option>
                        </select>
                    </div>

                    <div class="radio-group contenedorParametro">
                        <label class="preguntaToggle" for="toggleGratuidad"><input type="checkbox" id="toggleGratuidad" name="toggleGratuidad" {% if parametros.gratuidadRelevancia %}checked{% endif %}>¿Te interesa este parametro?</label>
                        <label for="gratuidad">¿Cuentas con la gratuidad?</label>

                        <label for="siGratu">Si</label>
                        <input type="radio" id="siGratu" name="gratuidad" value="si" {% if parametros.gratuidad %}checked{% endif %}>
                        <label for="noGratu">No</label>
                        <input type="radio" id="noGratu" name="gratuidad" value="no" {% if not parametros.gratuidad %}checked{% endif %}>
                    </div>

                    <div class="contenedorParametro">
                        <label for="toggleAcreditacion"><input type="checkbox" id="toggleAcreditacion" name="toggleAcreditacion" {% if parametros.acreditacionRelevancia %}checked{% endif %}>¿Te interesa este parametro?</label>
                        <label for="acreditacion">¿Cuantos años de acreditación minima buscas?</label>
                        <select id="acreditacion" name="acreditacion">
                        <option value="">-- Selecciona tu acreditacion deseada --</option>
                        {% for acredi in acreditaciones %}
                            <option value="{{ acredi }}" {% if parametros.acreditacionDeseado == acredi %}selected{% endif %}>
                            {{ acredi }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                    
                    <div class="contenedorParametro radio-group">
                        <label for="toggleUni"><input type="checkbox" id="toggleUni" name="toggleUni" {% if parametros.esUniversidadRelevancia %}checked{% endif %}>¿Te interesa este parametro?</label>
                        <label for="esUni">¿Buscas preferentemente una universidad?</label>
                        <label for="UniSi">Si</label>
                        <input type="radio" id="UniSi" name="EsUni" value="si" {% if parametros.esUniversidad %}checked{% endif %}>
                        <label for="UniNo">No</label>
                        <input type="radio" id="UniNo" name="EsUni" value="no" {% if not parametros.esUniversidad %}checked{% endif %}>
                    </div>

                    <div class="contenedorParametro">
                        <label for="toggleNem"><input type="checkbox" id="toggleNem" name="toggleNem" {% if parametros.puntajeNemRelevancia %}checked{% endif %}>¿Te interesa este parametro?</label>
                        <label for="nem">¿Cual es tu puntaje NEM aproximado?</label>
                        <select id="nem" name="nem">
                            <option value="0">-- Selecciona tu rango de puntaje NEM--</option>
                            <option value="1" {% if parametros.puntajeNem == 1 %}selected{% endif %}> Entre 100 a 300 </option>
                            <option value="2" {% if parametros.puntajeNem == 2 %}selected{% endif %}> Entre 301 a 500 </option>
                            <option value="3" {% if parametros.puntajeNem == 3 %}selected{% endif %}> Entre 501 a 700 </option>
                            <option value="4" {% if parametros.puntajeNem == 4 %}selected{% endif %}> Entre 701 a 900 </option>
                            <option value="5" {% if parametros.puntajeNem == 5 %}selected{% endif %}> Entre 901 a 1000 </option>
                        </select>
                    </div>

                    <div class="contenedorParametro">
                        <label for="toggleCarrera"><input type="checkbox" id="toggleCarrera" name="toggleCarrera" {% if parametros.carreraRelevancia %}checked{% endif %}>¿Te interesa este parametro?</label>
                        <label for="carrera">¿Que carrera llama tu atención?</label>
                        <select id="carrera" name="carrera">
                        <option value="">-- Selecciona una carrera --</option>
                        {% for carrera in carreras %}
                            <option value="{{ carrera }}" {% if parametros.carrera == carrera %}selected{% endif %}>
                            {{ carrera }}
                            </option>
                        {% endfor %}
                        </select>

                    </div>

                    <div>
                        <button class="btn btn-aceptar" type="submit">Enviar</button>
                    </div>

                </form>
            </div>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}