{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Gestionar cuenta</title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .contenedorForm{
            width: 50%;

        }
    </style>
    {% endblock disenos %}


    {% block cuerpo %}
        <div class="contenedorForm">
            <form>
                <h2>Gestionar mi cuenta</h2>
                <div>
                    <label for="btn-correo">Si desea cambiar su correo:</label>
                    <a class="btn btn-aceptar" href="{% url 'mostrarCambioCorreo' %}">Cambiar correo</a>
                </div>

                <div>
                    <label for="btn-clave">Si desea cambiar su clave: </label>
                    <a class="btn btn-aceptar" href="{% url 'mostrarCambioClave' %}">Cambiar clave</a>
                </div>

                <div>
                    <label for="btn-borrar">Si desea eliminar su cuenta: </label>
                    <a class="btn btn-eliminar" href="{% url 'mostrarEliminarCuenta' %}">Eliminar cuenta</a>
                </div>


            </form>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}