
{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}

{% load static %}

    {% block titulo %}
        <title>Petición</title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <div class="row">
            <h2>Enviar una petición</h2>

            <form id="crear-peticion" action="{% url 'generarPeticion' %}" method="post" enctype="application/x-www-form-urlencoded"> 
            {% csrf_token %}
                <div>
                    <label for="asunto">Asunto de petición:</label>
                    <input type="text" id="asunto" placeholder="Asunto" name="asunto">
                </div>

                <div>
                        <label for="tipo">Precio:</label><br>
                        <select name="tipo" id="tipo">
                            <option value="Sugerencia">Sugerencia</option>
                            <option value="Problema">Problema</option>
                            <option value="Cambio de rol">Cambio de rol</option>
                        </select>
                </div>

                <div>
                    <label for="mensaje">Mensaje:</label>
                    <textarea name="mensaje" id="mensaje" placeholder="Escriba aqui su petición"> </textarea>
                </div>

                <div>
                    <input type="submit" value="Enviar petición" id="submit">
                </div>
            </form>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}