{% extends 'core/sinCuenta/plantillaSinCuenta.html' %}

{% load static %}

    {% block titulo %}
        <title>Petición</title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .contenedorForm {
            width: 50%;
        }

        .contenedorForm select, .contenedorForm textarea{
            width: 100%;
            padding: 8px 5px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 2px solid #a0b8ff;
            outline: none;
            font-size: 14px;
            background: transparent;
        }

        
        .contenedorForm select, .contenedorForm textarea:focus{
            border-bottom: 2px solid #6595ff;
        }


        .dark-mode .contenedorForm select{
            background: #302d2d;
            color: #e0e0e0;
            border-bottom: 2px solid #5a8ef7;
            transition: background 10s, color 0.5s, border-bottom 0.5s;
        }

        .dark-mode .contenedorForm textarea{
            color: #e0e0e0;
            transition: color 0.5s;
        }
        

        .dark-mode .contenedorForm select:focus{
            border-bottom: 2px solid #3661bc;
            transition: border-bottom 0.5s;
        }

        .dark-mode .contenedorForm textarea:focus{
            border-bottom: 2px solid #3661bc;
            transition: border-bottom 0.5s;
        }



    </style>
    {% endblock disenos %}


    {% block cuerpo %}
        <div class="contenedorForm">
            <h2>Enviar una petición</h2>

            <form id="crear-peticion" action="{% url 'generarPeticion' %}" method="post" enctype="application/x-www-form-urlencoded"> 
            {% csrf_token %}
                <div>
                    <label for="asunto">Asunto de petición:</label>
                    <input type="text" id="asunto" placeholder="Asunto" name="asunto">
                </div>
                <p id="alerta" class="alerta"></p>

                <div>
                        <label for="tipo">Categoría:</label><br>
                        <select name="tipo" id="tipo">
                            <option value="Sugerencia">Sugerencia</option>
                            <option value="Problema">Problema</option>
                            <option value="Cambio de rol">Cambio de rol</option>
                        </select>
                </div>

                <div>
                    <label for="mensaje">Mensaje:</label>
                    <textarea name="mensaje" id="mensaje" placeholder="Escriba aqui su petición"></textarea>
                </div>
                <p id="alerta2" class="alerta"></p>

                <div>
                    <button class="btn btn-aceptar" type="submit" id="submit">Enviar</button>  
                </div>
            </form>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    <script src="{% static 'core/js/peticion.js' %}"></script>
    {% endblock js %}