{% extends 'core/estudiantes/plantillaEstudiante.html'%}
{% load static %}

    {% block titulo %}
        <title>Recomendaciones</title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <h2>Pagina de las recomendaciones</h2>
        <div>
            <div>
                <h1>Estas son las recomendaciones que tenemos para ti</h1>
                <div>
                    <div>
                        <label for="recomendacion1">Recomendacion 1:</label>
                        <input type="text" id="recomendacion1" placeholder="Recomendacion 1">
                        <label for="recomendacion1"> 67%</label>
                    </div>
                   

                    <div>
                        <label for="recomendacion2">Recomendacion 2:</label>
                        <input type="text" id="recomendacion2" placeholder="Recomendacion 2">
                        <label for="recomendacion1"> 58%</label>
                    </div>

                    <div>
                        <label for="recomendacion3">Recomendacion 3:</label>
                        <input type="text" id="recomendacion3" placeholder="Recomendacion 3">
                        <label for="recomendacion1"> 49%</label>
                    </div>
                </div>
            </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}