{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Recomendaciones</title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .contenedorRecomendaciones h1 {
            flex: 1 1 100%;
            text-align: left; /* o center si prefieres */
            margin-bottom: 20px;
        }

        .contenedorRecomendaciones h2 {
            flex: 1 1 100%;
            text-align: left; /* o center si prefieres */
            margin-bottom: 20px;
        }

        .bien {
            color: #4caf50 !important;
        }
        
        .medio{
            color: #D6D667 !important;
        }

        .mal {
            color: #BD473A !important;
        }

        .dark-mode .bien {
            color: #4caf50 !important;
        }
        
        .dark-mode .medio{
            color: #D6D667 !important;
        }

        .dark-mode .mal {
            color: #BD473A !important;
        }

        .contenedorInsti{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contenedor-img{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contenedor-nombre{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contenedor-compatibilidad{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .contenedor-link{
            display: flex;
            justify-content: center;
            align-items: center;
        }   
        

    </style>
    
    {% endblock disenos %}


    {% block cuerpo %}
        <div class="contenido">
            <div class="contenedorRecomendaciones">
                <h1>Recomendaciones</h1>
                <h2 style="font-size: larger;">Estas son las recomendaciones que tenemos para ti:</h2> 
                {% for recom in recomendaciones %}
                <div class="col-md-3 contenedorInsti">

                    <div class="contenedorIMG">
                        <div class="card contenedor-img">
                        
                            <img src="{{recom.institucion.fotoInstitucion.url}}" alt="No hay imagen disponible" onerror="this.onerror=null; this.src='{% static 'core/img/logo-dark.png' %}';">
                        
                        </div>
                    </div>

                    
                    
                    <div class="contenedor-nombre">
                        <p class="texto">{{ recom.institucion.nombreInstitucion }}</p>
                    </div>

                    <div class="contenedor-compatibilidad">
                        {% if recom.porcentaje > 74 %}
                            <p class="texto bien" style="font-weight: bold; padding-bottom: 10px;">Compatibilidad: {{ recom.porcentaje }}% </p>
                        {% elif recom.porcentaje <= 74 and recom.porcentaje >= 26 %}
                            <p class="texto medio" style="font-weight: bold; padding-bottom: 10px;">Compatibilidad: {{ recom.porcentaje }}%  </p>
                        {% elif recom.porcentaje < 26 %}
                            <p class="texto mal" style="font-weight: bold; padding-bottom: 10px;">Compatibilidad: {{ recom.porcentaje }}%  </p>
                        {% endif %}
                    </div>
                    <div class="contenedor-link">
                        <a href="{% url 'mostrarVistaInstituciones' recom.institucion.idInstitucion %}">Ver mas</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}