{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Institución</title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <h2>Pagina de una Institución</h2>
        <div>
            <div class="row">
                <h3>Nombre de la Institución: {{ institucion.nombreInstitucion }}</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{institucion.fotoInstitucion.url}}" alt="No hay imagen disponible">
                </div>
            </div>
            <div class="row">
                {% if porcentaje >= 75.0 %}
                    <h3 style="color: #4DC45C">Porcentaje de compatibilidad: {{porcentaje}}% </h3>
                {% endif %}
                {% if porcentaje >= 25.0 and porcentaje < 75.0 %}
                    <h3 style="color: #D6D667">Porcentaje de compatibilidad: {{porcentaje}}% </h3>
                {% endif %}
                {% if porcentaje < 25.0 %}
                    <h3 style="color: #BD473A">Porcentaje de compatibilidad: {{porcentaje}}% </h3>
                {% endif %}
            </div>
            <div class="row">
                
                <canvas id="compatChart" width="200" height="200"></canvas>
            </div>
            <div class="row">
                <h3>Detalles de compatibilidad:</h3>
                <ul>
                    {% for criterio, cumple in detalles.items %}
                        <li>
                            {% if cumple %}
                                <span style="color: green;">✔ {{ criterio }}</span>
                            {% else %}
                                <span style="color: red;">✘ {{ criterio }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">
                <h3>Sitio web: {{ institucion.webInstitucion }}</h3>
            </div>
            <div class="row">
                {% if institucion.adscritoGratuidad %}
                    <h3>Adscrita a gratuidad: Si</h3>
                {% else %}
                    <h3>Adscrita a gratuidad: No</h3>
                {% endif %}
            </div>
            <div class="row">
                <h3>Años de acreditacion: {{ institucion.acreditacion }}</h3>
            </div>
            <div class="row">
                <h3>Comuna: {{ institucion.comunaInstitucion }} </h3>
            </div>
            <div class="row">
                {% if institucion.esUniversidadInsti %}
                    <h3>Es una universidad: Si</h3>
                {% else %}
                    <h3>Es una universidad: No</h3>
                {% endif %}
            </div>
            <div class="row">
                <h3>Carreras disponibles: </h3>
            </div>

            <div class="row">
                {% for carre in carreras %}
                <div class="col-md-2">
                    <div>
                        <p>Nombre carrera: {{ carre.nombreCarrera }}</p>
                    </div>
                    <div>
                        <p>Puntaje minimo: {{ carre.puntajeMinimo }}</p>
                    </div>
                    <div>
                        <p>Costo: {{ carre.costo }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock cuerpo %}
        
        

    {% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var porcentaje = parseFloat("{{ porcentaje|floatformat:2 }}");
        var colorCompat = '#4caf50'; 

        if (porcentaje < 25.0) {
            colorCompat = '#BD473A';
        } else if (porcentaje < 75.0) {
            colorCompat = '#D6D667';
        }

        var ctx = document.getElementById('compatChart').getContext('2d');
        var compatChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Compatibilidad', 'No Compatibilidad'],
                datasets: [{
                    data: [porcentaje, 100 - porcentaje],
                    backgroundColor: [colorCompat, '#e0e0e0'],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    </script>


    {% endblock js %}