{% extends 'core/estudiantes/plantillaEstudiante.html'%}
{% load static %}

    {% block titulo %}
        <title>Institución</title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <h2>Pagina de una Institución</h2>
        <div>
            <div>
                <h3>Nombre de la Institución</h3>
            </div>
            <div>
                <h3>Costo: </h3>
            </div>
            <div>
                <h3>Adscrita a gratuidad: </h3>
            </div>
            <div>
                <h3>Años de acreditacion: </h3>
            </div>
            <div>
                <h3>Comuna: </h3>
            </div>
            <div>
                <h3>Es una universidad: </h3>
            </div>
            <div>
                <h3>NEM minimo: </h3>
            </div>
            <div>
                <h3>Posee tu carrera de interes: </h3>
            </div>
        </div>
        {% endblock cuerpo %}
        
        

    {% block js %}
    {% endblock js %}