{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}
{% load humanize %}

    {% block titulo %}
        <title>Institución</title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
      
        .contenedorForm{
            width: 80% !important;
        }

        .contenedor-img{
            width: 20%;
            height: 90%;
            object-fit: cover;
            border: 2px solid #000;
            background: #fff;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            margin-top: 10px;
        }

        .contenedor-img > img{
            width: 100%;
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .contenedorInsti{
            height: 10%;
            max-height: 20%;
        }

        li{
            list-style: none;
        }
    </style>
    {% endblock disenos %}


    {% block cuerpo %}
        <div class="contenedorForm">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="contenedor-img">
                        <img src="{{institucion.fotoInstitucion.url}}" alt="No hay imagen disponible" style=" object-fit: fill;">
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 style="font-size: medium;">Nombre de la Institución: {{ institucion.nombreInstitucion }}</h2>
            </div>
            <div class="row" >
                <h2 style="font-size: medium;">Detalles de compatibilidad:</h2>
                <div class="col-md-6">
                    
                    <ul>
                        {% for criterio, cumple in detalles.items %}
                            <li>
                                {% if cumple %}
                                    <span style="color: green; padding-left: 12px;">✔ {{ criterio }}</span>
                                {% else %}
                                    <span style="color: red; padding-left: 12px;">✘ {{ criterio }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6" style="width: 20%; height: 20%;">
                    <canvas id="compatChart" width="100" height="100"></canvas>
                </div>
            </div>
            
            <div class="row">
                <h2 style="font-size: medium;">Sitio web: {{ institucion.webInstitucion }}</h2>
            </div>
            <div class="row">
                {% if institucion.adscritoGratuidad %}
                    <h2 style="font-size: medium;">Adscrita a gratuidad: Si</h2>
                {% else %}
                    <h2 style="font-size: medium;">Adscrita a gratuidad: No</h2>
                {% endif %}
            </div>
            <div class="row">
                <h2 style="font-size: medium;">Años de acreditacion: {{ institucion.acreditacion }}</h2>
            </div>
            <div class="row">
                <h2 style="font-size: medium;">Comuna: {{ institucion.comunaInstitucion }} </h2>
            </div>
            <div class="row">
                {% if institucion.esUniversidadInsti %}
                    <h2 style="font-size: medium;">Es una universidad: Si</h2>
                {% else %}
                    <h2 style="font-size: medium;">Es una universidad: No</h2>
                {% endif %}
            </div>
            <div class="row">
                <h2 style="font-size: medium;">Carreras disponibles: </h2>
            </div>

            <div class="row">
                {% for carre in carreras %}
                <div class="col-md-2 contenedorInsti">
                    <div>
                        <p>{{ carre.nombreCarrera }}</p>
                    </div>
                    <div>
                        <p>${{ carre.costo|intcomma:"." }}</p>
                    </div>
                    <div>
                        <p>{{ carre.puntajeMinimo }} pts</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock cuerpo %}
        
        

    {% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var porcentaje = parseFloat("{{ porcentaje|floatformat:2 }}");
        var colorCompat = '#4caf50'; 

        if (porcentaje < 25.0) {
            colorCompat = '#BD473A';
        } else if (porcentaje < 75.0) {
            colorCompat = '#D6D667';
        }

        var ctx = document.getElementById('compatChart').getContext('2d');
        var compatChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Compatibilidad', 'No Compatibilidad'],
                datasets: [{
                    data: [porcentaje, 100 - porcentaje],
                    backgroundColor: [colorCompat, '#e0e0e0'],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    </script>


    {% endblock js %}