{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Recuperar contraseña</title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .contenedorPadre {
            min-height: 85vh;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; 
        }
    </style>
    {% endblock disenos %}


    {% block cuerpo %}
        <div class="contenedorPadre">

          <div class="contenedorForm">
            <h1>Ingresa tu nueva contraseña</h1>

            <form method="post">
              {% csrf_token %}

              <label for="{{ form.new_password1.id_for_label }}">Nueva contraseña</label>
              <div class="campo-password">
                
                {{ form.new_password1 }}
                 <span class="toggle-password" style="cursor:pointer;">
                        <i class="fa-solid fa-eye"></i>
                        </span>
                
              </div>
              
              <label for="{{ form.new_password2.id_for_label }}">Confirma la contraseña</label>
              <div class="campo-password">
                {{ form.new_password2 }}
                 <span class="toggle-password" style="cursor:pointer;">
                        <i class="fa-solid fa-eye"></i>
                        </span>
                
              </div>
              <p id="alerta" class="alerta"></p>
              <button type="submit" class="btn btn-aceptar">Guardar nueva contraseña</button>
            </form>
          </div>

        </div>

        
    {% endblock cuerpo %}

    {% block js %}
    <script src="{% static 'core/js/validarReset.js' %}"></script>
    {% endblock js %}
