{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Recuperar contraseña</title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .contenedorPadre{
            margin: 0; 
            padding: 0;
            height: 85vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    {% endblock disenos %}


    {% block cuerpo %}
        <div class="contenedorPadre">

          <div class="contenedorForm">
            <h1>Ingresa tu nueva contraseña</h1>

            <form method="post">
              {% csrf_token %}

              <label for="{{ form.new_password1.id_for_label }}">Nueva contraseña</label>
              <div class="campo-password">
                
                {{ form.new_password1 }}
                 <span class="toggle-password" style="cursor:pointer;">👁️</span>
                
              </div>

              <label for="{{ form.new_password2.id_for_label }}">Confirma la contraseña</label>
              <div class="campo-password">
                {{ form.new_password2 }}
                 <span class="toggle-password" style="cursor:pointer;">👁️</span>
                
              </div>

              <button type="submit" class="btn btn-aceptar">Guardar nueva contraseña</button>
            </form>
          </div>

        </div>

        
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}
