{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title> </title>
    {% endblock titulo %}

    {% block disenos %}
    
    {% endblock disenos %}


    {% block cuerpo %}
        <h2>Recuperar contraseña</h2>
        <div class="cold-md-4">
          <form method="post">
          {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar enlace</button>
          </form>
        </div>
      
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}