<h2>Ingresa tu nueva contraseña</h2>

<form method="post">
  {% csrf_token %}

  <div>
    <label for="{{ form.new_password1.id_for_label }}">Nueva contraseña</label>
    {{ form.new_password1 }}
    {% if form.new_password1.errors %}
      <div style="color:red;">
        {{ form.new_password1.errors }}
      </div>
    {% endif %}
  </div>

  <div>
    <label for="{{ form.new_password2.id_for_label }}">Confirma la contraseña</label>
    {{ form.new_password2 }}
    {% if form.new_password2.errors %}
      <div style="color:red;">
        {{ form.new_password2.errors }}
      </div>
    {% endif %}
  </div>

  <button type="submit">Guardar nueva contraseña</button>
</form>
