{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Recuperar contraseña</title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .contenedorPadre{
            margin: 0; 
            padding: 0;
            height: 85vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    {% endblock disenos %}


    {% block cuerpo %}
        <div class="contenedorPadre">
            <div class="contenedorForm">
                <form>
                    <br>
                    <h2 style="text-align: center;">Contraseña restablecida</h2>
                    <br>
                    <h1>Tu contraseña fue cambiada con éxito.</h1>
                    <h1>Ya puedes <a href="{% url 'mostrarLogin' %}">iniciar sesión</a>.</h1>
                    <br>
                </form>
            </div>
        </div>
        
        
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}