{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Recuperar contraseña</title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .contenedorPadre {
            min-height: 85vh;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; 
        }
    </style>
    {% endblock disenos %}


    {% block cuerpo %}
        <div class="contenedorPadre">
        <div class="contenedorForm">
          <h1>Recuperar contraseña</h1>
          <form method="post">
          {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-aceptar">Enviar enlace</button>
          </form>
        </div>
        </div>
      
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}