{% extends 'core/sinCuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
        <title>Recuperar contraseña</title>
    {% endblock titulo %}

    {% block disenos %}
    <style>
        .contenedorPadre{
            margin: 0; 
            padding: 0;
            height: 85vh;
            width: 100%;
            border: 2px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    {% endblock disenos %}


    {% block cuerpo %}
        <div class="contenedorPadre">
        <div class="contenedorForm">
          <h1>Recuperar contraseña</h1>
          <form method="post">
          {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-aceptar">Enviar enlace</button>
          </form>
        </div>
        </div>
      
    {% endblock cuerpo %}

    {% block js %}
    {% endblock js %}